@import url(//db.onlinewebfonts.com/c/ba5ccffcd04561bfd40f24f63fc62b3d?family=Volvo+Novum+Light);
@font-face {
  font-family: "Volvo Novum"; 
  src: url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.eot"); 
  src: url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.eot?#iefix") 
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.woff") 
  format("woff"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.ttf") 
  format("truetype"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.svg#Volvo Novum") format("svg"); 
}

 

body{
  font-family: "Volvo Novum";
}
ul,li{
  list-style: none;
  padding:0;
  margin:0;
}
a{
  text-decoration: none;
  color:#fff;
}
.clearfix::after{
  content: "0";
  display: block;
  clear: both;
}
.footer{
  height:700px;
  padding:50px 0;
  background-color:#000;
  color:#fff;
  text-align: center;
}
.footer__inner{

}
.fmenu__list{

}
.fmenu__item{

}
.sns__list{

}
.sns__item{

  
}
.cookie__item{
 
}
