@font-face {
  font-family: "Volvo Novum"; 
  src: url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.eot"); 
  src: url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.eot?#iefix") 
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.woff") 
  format("woff"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.ttf") 
  format("truetype"), url("//db.onlinewebfonts.com/t/25cb6845cb99afb2f536ee7861d32413.svg#Volvo Novum") format("svg"); 
}
 

body{
  font-family: "Volvo Novum";
}